@charset "UTF-8";

/* 
    Paleta de cores 
    Verde: #49a09d
    Lilás: #5f2c82
*/

*{
    font-family: 'Segoe UI', Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html{
    background-color: #5f2c82;
    width: 100vw;
    height: 100vh;
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);

    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

main section div#imagem{
    display: block;
    background: #5f2c82 url(/imagens/pattern-m.jpg);
    background-position: center;
    height: 200px;
    border-radius: 20px 20px 0 0;
}

section#login div#formulario{
    display: block;
    padding: 10px;
}

div h1{
    text-align: center;
    margin-bottom: 10px;
}

div p{
    font-size: 0.8em;
    margin-bottom: 5px;
}

div.campo i{
    text-align: center;
    font-size: 1.9em;
    width: 40px;
    margin-top: 5px;
}

div.campo{
    background-color: #5f2c82;
    border: 2px solid #5f2c82;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}

div.campo input{
    background-color: rgb(148, 207, 205);
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;
    padding: 4px;
    border: 0;
    border-radius: 5px;
    transform: translateY(-10px);
}

#entrar{
    display: block;
    background-color: rgb(83, 170, 167);
    color: white;
    width: 240px;
    padding: 15px;
    margin: auto;
    margin-bottom: 5px;
    border: 1px solid rgb(83, 170, 167);
    border-radius: 5px;
}

#esqueci{
    display: block;
    width: 240px;
    padding: 15px;
    margin: auto;
    border: 2px solid rgb(148, 207, 205);
    border-radius: 5px;
}

